{% extends 'base.html' %}

{% block title%}
  About Rokas
{% endblock %}

{% block content %}
<div class="container">
    <h1>About me</h1><br>
<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
        <tr>
            <td>The People list:</td>
        </tr>
    </thead>

    <tbody>
    {% for name in names %}
<tr>
    <td>
        {% if name == "Wes" %}
            Wes is the best!
        {% else %}
            {{ name }}
        {% endif %}

        {% endfor %}
    </td>
</tr>

    </tbody>
</table>

    </div>
{% endblock %}