{% extends 'base.html' %}

{% block title%}
  {{title}}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Friends of mine...</h1>
    <br>

    <form action="/friends" method="POST">
        <div class="mb-3">
                <input class="form-control" type="text" placeholder="Name" name="name"><br>
                <input type="submit" placeholder="Add Name" class="btn btn-secondary">
        </div>
    </form>

    <br><br>
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
        <tr>
            <td style="font-weight: bold">The Friends list below:</td>
            <td style="font-weight: bold">Do you want to update it?</td>
            <td style="font-weight: bold">Do you want to delete it?</td>
        </tr>
        </thead>
        <tbody>

                {% for friend in friends %}
                <tr>
                    <td>

                   {{ friend.name }}

                    </td>
                    <td>
                        <a style="display: block; margin-left: auto; margin-right: auto; width: 20%"  href="/update/{{ friend.id }}" class="btn btn-outline-secondary btn-sm">Update</a>
                    </td>

                      <td>
                        <a style="display: block; margin-left: auto; margin-right: auto; width: 20%"  href="/delete/{{ friend.id }}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}

        </tbody>
    </table>

    </div>
{% endblock %}